[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "pell"]
	path = pell
	url = https://github.com/curious-joe/pell
	shallow = true
	registered = true
